language: c

python: 3.6

services:
  - docker

before_install:
  - docker build    -t isulad -f ./Dockerfile .
  - docker images
  - docker run -tid --name isulad_con -v /var/lib/isulad:/var/lib/isulad -v `pwd`:/src/isulad --privileged isulad

branches:
  only:
  - master
  
